/*Variables de Colores Principales*/
/*SCSS*/
.bg-black {
  background-color: #000000; }

.text-white {
  color: white; }

.btn-verde {
  background-color: verde;
  color: white; }

button:hover {
  background-color: black;
  color: white !important; }

/*FORMATO DEL TEXTO PRINCIPAL DEBAJO DE LA FOTO*/
.container-curso {
  padding: 2% 10% 2% 10%;
  text-align: center; }

.d-grid {
  padding: 0% 0% 2% 0%; }

.grid-container {
  display: grid;
  grid-template-columns: 65% 35%;
  padding-left: 10%;
  padding-right: 10%;
  margin: 2%; }

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  text-align: justify;
  margin: 10%; }

.grid-item2 {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  text-align: justify;
  margin: 10% 10% 20% 10%;
  border: solid 1px #cccaca; }

.fotoCurso2 {
  width: 100%;
  padding: 10% 0% 10% 0%; }

.fotoCurso {
  padding: 0% 0% 5% 0%; }

.botonContacto {
  display: flex;
  margin: 0% 2% 5% 2%;
  justify-content: center; }

/* Responsive */
@media screen and (max-width: 600px) {
  .grid-container {
    display: flex;
    flex-direction: column;
    padding-left: 2%;
    padding-right: 2%; }
  .fotoCurso {
    width: 150%; } }

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif; }

h1 {
  font-size: 182%;
  /* equivale a 24px */ }

h2 {
  font-size: 167%;
  /* equivale a 22px */ }

h3 {
  font-size: 153.9%;
  /* equivale a 20px */ }

h4 {
  font-size: 123.1%;
  /* equivale a 16px */ }

h5 {
  font-size: 107.7%;
  /* equivale a 14px */ }

p {
  font-size: 92.3%;
  /* equivale a 12px */ }

a {
  font-size: 84.6%;
  /* equivale a 11px */ }

/*FORMATO GENERAL*/
body {
  width: auto;
  height: auto; }

/*FORMATO DEL TEXTO PRINCIPAL DEBAJO DE LA FOTO*/
.container-home {
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center; }

/*FORMATO DE LAS TARJETAS DE SERVICIOS*/
.home-servicios {
  display: flex;
  justify-content: space-around;
  padding: 1% 2% 5% 2%; }

.btn-verde {
  background-color: #054538;
  color: white; }

a:hover {
  background-color: black;
  color: white !important; }

/*FORMATO GALERIA DE IMAGENES*/
.photo-gallery {
  color: #313437;
  background-color: #fff; }

.photo-gallery p {
  color: #7d8285; }

.photo-gallery h2 {
  font-weight: bold;
  margin-bottom: 10px;
  padding-top: 10px;
  color: inherit; }

@media (max-width: 767px) {
  .photo-gallery h2 {
    margin-bottom: 10px;
    padding-top: 10px;
    font-size: 24px; } }

.photo-gallery .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto 10px; }

.photo-gallery .intro p {
  margin-bottom: 0; }

.photo-gallery .photos {
  padding-bottom: 20px; }

.photo-gallery .item {
  padding-bottom: 30px; }

/*FORMATO DEL TEXTO PRINCIPAL DEBAJO DE LA FOTO*/
.container-sobremi {
  padding: 5% 50% 5% 50%;
  text-align: center; }

/*FORMATO DE LA FOTO*/
.fotoSobremi {
  margin-bottom: 5%; }

* {
  box-sizing: border-box; }

/* Formato de los inputs del formulario */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical; }

input[type=submit] {
  background-color: #054538;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer; }

input[type=submit]:hover {
  background-color: black; }

/* Formato de las columnas */
.column_1 {
  float: left;
  width: 40%;
  padding: 0px 20px 40px 20px; }

.column_2 {
  float: left;
  width: 60%;
  padding: 0px 20px 40px 20px; }

.fotoContacto {
  width: 100%; }

/* Responsive */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0; } }

@media screen and (max-width: 600px) {
  .row {
    display: flex;
    flex-direction: column; }
  .column_1 {
    width: 100%; }
  .column_2 {
    width: 100%; } }

.home-cuenta {
  display: flex;
  padding: 0% 2% 5% 2%;
  justify-content: center; }
