/*Variables de Colores Principales*/

$negro:#000000;
$verde:#054538;
$gris:#54595F;

/*SCSS*/

.bg-black {
    background-color: #000000; }

.text-white{
    color: white;
}

.btn-verde{
    background-color: verde;
    color: white;
}

button:hover{
    background-color: black;
    color: white !important;
}

