/*FORMATO DEL TEXTO PRINCIPAL DEBAJO DE LA FOTO*/

.container-curso{
    padding: 2% 10% 2% 10%;
    text-align: center;
}

.d-grid{
    padding: 0% 0% 50px 0%;
}

$accordion-color: red;
$accordion-bg: red;
$accordion-border-color: red;