/*FORMATO DEL TEXTO PRINCIPAL DEBAJO DE LA FOTO*/

.container-curso{
    padding: 2% 10% 2% 10%;
    text-align: center;
}

.d-grid{
    padding: 0% 0% 2% 0%;
}


.grid-container {
    display: grid;
    grid-template-columns: 65% 35%;
    padding-left: 10%;
    padding-right: 10%;
    margin: 2%;
  }

  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    text-align: justify;
    margin: 10%;
  }

  .grid-item2 {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    text-align: justify;
    margin: 10% 10% 20% 10%;
    border: solid 1px rgb(204, 202, 202);
  }

  .fotoCurso2{
      width: 100%;
      padding: 10% 0% 10% 0%;
  }

  .fotoCurso{
    padding: 0% 0% 5% 0%;
}

/* Responsive */

@media screen and (max-width: 600px) {
  .grid-container {
    display: flex;
    flex-direction: column;
    padding-left: 2%;
    padding-right: 2%;
  }
  .fotoCurso{
    width: 150%;
}}

